body {
  background-color: #000;
  color: #fff; /* Set default text color to white */
  font-family: 'Arial', sans-serif; /* Use a sans-serif font for better readability */
}

/* Style for the form */
form {
  max-width: 600px;
  margin: 0 auto;
}

input {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  box-sizing: border-box;
  background-color: #444; /* Slightly lighter gray background */
  color: #fff; /* White text color */
  border: 1px solid #ffd700; /* Gold border */
  border-radius: 4px;
}

/* Style for submit button */
button {
  padding: 10px 15px;
  background-color: #ffd700; /* Gold background */
  color: #000; /* Black text color */
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-right: 10px;
}

h1, h2, h3, a {
  color: #ffd700; /* Gold color for headings and links */
}

label {
  display: block;
  margin-bottom: 5px;
  color: #fff;
}

#main_menu {
  margin: 0 auto;
  text-align: left;
  max-width: 600px;
  padding: 20px;
  border: 1px solid #ffd700; /* Gold */
  border-radius: 10px;
  background-color: #333; /* Darker Grey */
}

#main_menu h2 {
  display: flex;
  align-items: center;
}

#main_menu h2 img {
  max-height: 100px;
  margin-left: auto;
}

#quizArea {
  margin-top: 25px;
  margin-bottom: 100px; /* You can adjust the value as needed */
}

/* Style for each question div */
.question {
  margin-bottom: 20px;
  padding: 15px;
  background-color: #333; /* Darker Grey */
  border: 1px solid #ffd700; /* Gold border */
  border-radius: 8px;
}

.question-section {
  margin-bottom: 20px;
  padding: 15px;
  background-color: #333; /* Darker Grey */
  border: 1px solid #ffffff; /* Gold border */
  border-radius: 8px;
}

.floor-ingredient-input {
  width: 100%; /* Text input takes up 80% of the horizontal space */
  box-sizing: border-box; /* Include padding and border in the width calculation */
}

.bar-ingredient-input {
  width: 80%; /* Text input takes up 80% of the horizontal space */
  box-sizing: border-box; /* Include padding and border in the width calculation */
}

.bar-quantity-input {
  width: 20%; /* Quantity input takes up 20% of the horizontal space */
  box-sizing: border-box; /* Include padding and border in the width calculation */
}

.ingredient-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#scoreArea {
  margin: 0 auto;
  max-width: 100%;
  margin-bottom: auto;
  background-color: #333; /* Dark gray background */
  padding: 20px; /* Adjust padding as needed */
  border: 1px solid #ffd700; /* Gold border */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#scoreArea hr {
  border: 0;
  height: 1px;
  background-color: #ffd700; /* Gold color to match the border */
  width: 100%; /* Ensure the line spans the width of the container */
  margin: 10px 0; /* Adjust margin as needed */
}
