body {
  background-color: #000080; /* Dark Navy background */
  color: #fff; /* White text color */
  font-family: 'Arial', sans-serif;
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

input {
  width: 100%;
  padding: 8px;
  height: auto;
  word-break: break-word;
  margin-bottom: 10px;
  box-sizing: border-box;
  background-color: #333; /* Slightly lighter gray background */
  color: #fff; /* White text color */
  border: 1px solid white; /* White border */
  transition: all 0.3s; /* Add transition for smoother hover effect */
}

input:hover {
  border-radius: 5px; /* Rounded corners */
  border-color: #800080; /* Purple border on hover */
  background-color: #555; /* Darker background color on hover */
}

option {
  width: 100%;
}

button {
  padding: 10px 15px;
  background-color: #800080; /* Purple background */
  color: #fff; /* White text color */
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-right: 10px;
}

h1, h2, h3, a {
  text-align: center;
  color: #800080; /* Purple color for headings and links */
}

li {
  padding: 10px;
}

form:hover {
  border-radius: 5px; /* Rounded corners */
  border-color: #800080; /* Purple border on hover */
}

#main_menu {
  margin: 0 auto;
  text-align: left;
  max-width: 600px;
  padding: 20px;
  border: 1px solid #800080; /* Purple */
  border-radius: 10px;
  background-color: #333; /* Darker Grey */
}

#main_menu h2 {
  display: flex;
  align-items: center;
}

#main_menu h2 img {
  max-height: 100px;
  margin-left: auto;
}

#quizArea {
  margin-top: 25px;
  margin-bottom: 100px;
}

.question {
  margin-bottom: 20px;
  padding: 15px;
  background-color: #333; /* Darker Grey */
  border: 1px solid white; /* White border */
  transition: all 0.3s; /* Add transition for smoother hover effect */
}

.question:hover {
  border-color: #800080; /* Purple border on hover */
  border-style: dashed;
  border-radius: 4px; /* Rounded corners */
}

.question-section {
  margin-bottom: 20px;
  padding: 15px;
}

.bar-quantity-input {
  width: 20%; /* Quantity input takes up 20% of the horizontal space */
  box-sizing: border-box; /* Include padding and border in the width calculation */
}

.ingredient-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#scoreArea {
  margin: 0 auto;
  max-width: 100%;
  margin-top: auto;
  background-color: #333; /* Dark gray background */
  padding: 20px; /* Adjust padding as needed */
  border: 1px solid white; /* White border */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: all 0.3s; /* Add transition for smoother hover effect */
}

#scoreArea:hover {
  border-radius: 4px; /* Rounded corners */
  border-color: #800080; /* Purple border on hover */
}

#scoreArea hr {
  border: 0;
  height: 1px;
  background-color: #800080; /* Purple color to match the border */
  width: 100%; /* Ensure the line spans the width of the container */
  margin: 10px 0; /* Adjust margin as needed */
}